<div class="burger">
  <div class="burger-row flex flex-wrap">
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
  </div>
  <div class="burger-row flex flex-wrap">
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
  </div>
  <div class="burger-row flex flex-wrap">
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
    <div  class="burger-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-red.svg" alt="">
      </div>
    </div>
  </div>
</div>