{% if cross_color == "" %}
  {% set cross_color = "red" %}
{% endif %}

{% if cross_size == "" %}
  {% set cross_size = "sm" %}
{% endif %}

<div class="cross-{{ cross_size }}">
  <div class="cross-row">
    <div  class="cross-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-{{ cross_color }}.svg" alt="">
      </div>
    </div>
  </div>
  <div class="cross-row">
    <div  class="cross-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-{{ cross_color }}.svg" alt="">
      </div>
    </div>
  </div>
  <div class="cross-row">
    <div  class="cross-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-{{ cross_color }}.svg" alt="">
      </div>
    </div>
  </div>
  <div class="cross-row flex flex-wrap">
    <div  class="cross-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-{{ cross_color }}.svg" alt="">
      </div>
    </div>
    <div  class="cross-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-{{ cross_color }}.svg" alt="">
      </div>
    </div>
    <div  class="cross-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-{{ cross_color }}.svg" alt="">
      </div>
    </div>
    <div  class="cross-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-{{ cross_color }}.svg" alt="">
      </div>
    </div>
    <div  class="cross-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-{{ cross_color }}.svg" alt="">
      </div>
    </div>
    <div  class="cross-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-{{ cross_color }}.svg" alt="">
      </div>
    </div>
    <div  class="cross-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-{{ cross_color }}.svg" alt="">
      </div>
    </div>
  </div>
  <div class="cross-row">
    <div  class="cross-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-{{ cross_color }}.svg" alt="">
      </div>
    </div>
  </div>
  <div class="cross-row">
    <div  class="cross-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-{{ cross_color }}.svg" alt="">
      </div>
    </div>
  </div>
  <div class="cross-row">
    <div  class="cross-dot">
      <div class="absolute pin">
        <img src="{{ theme.link }}/images/dot-{{ cross_color }}.svg" alt="">
      </div>
    </div>
  </div>
</div>
