{# Case template #}

{% extends "core/base.html.twig" %}

{% set body_class = [""] %}

{% block main %}

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col w-full desktop-sm:w-7/12 flex flex-col justify-between">
          <div class="w-full desktop-sm:w-11/12 desktop-xl:w-9/12">
            <h1 class="text-2xl text-red">{{ post.title }}</h1>
            <p class="text-2xl indent mb-8">
              {{ post.subtitle }}
            </p>
          </div>
          <div class="flex justify-between mb-5 desktop-sm:mb-0">
            <div class="caption">{{ post.meta('category') }}</div>
            <div class="caption">{{ post.meta('year') }}</div>
          </div>
        </div>
        <div class="col w-full desktop-sm:w-5/12">
          <figure class="figure-p-lg desaturate scroll-saturate">
            <img{{ post.meta('splash_image')|get_timber_image_responsive('portrait-50vw') }}>
            <div class="absolute pin overflow-hidden flex justify-end">
              <img class="h-full w-auto" src="{{ theme.link }}/images/dot-pattern/white-right-01.png" alt="">
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>

  {% for modular_block in post.meta("blocks") %}

    {% set layout = modular_block.acf_fc_layout %}

    {% if layout == "text" %}

      {% include "layout/text.html.twig" with {
        header : modular_block.left,
        text: modular_block.right
      } %}

    {% elseif layout == "full_width_image" %}

      {% include "layout/fw-image.html.twig" with {
        image: modular_block.image
      } %}

    {% elseif layout == "double_image" %}

      {% set images = {
        left: modular_block.left,
        right: modular_block.right
      } %}
      {% include "layout/double-image.html.twig" with {
        images: images
      } %}

    {% elseif layout == "keynotes" %}

      {% include "layout/keynote.html.twig" with {
        slides : modular_block.slides
      } %}

    {% elseif layout == "movie" %}

      {% include "layout/movie.html.twig" with {
        vimeo_id : modular_block.vimeo_id
      } %}

    {% elseif layout == "quote" %}

      {% include "layout/quote.html.twig" with {
        quotee: modular_block.quotee,
        text: modular_block.text,
        image: modular_block.image
      } %}

    {% elseif layout == "slider" %}

  {% include "layout/small-slider.html.twig" with { 
    slides: modular_block.slides
  } %}

    {% endif %}

  {% endfor %}

  <div class="container">
    <div class="section hidden tablet:block">
      <div class="row justify-between">
        <div class="col">
          <a class="flex items-end" href="{{ site.link }}/portfolio">
            {% include "components/arrow.html.twig" with {
              direction : "left"
            } %}
            <div class="ml-4 text-xl text-red ">
              Back to overview
            </div>
          </a>
        </div>
        <div class="col">
          <a class="flex items-end" href="{{ next_post.link }}">
            <div class="mr-4 text-xl text-grey">
              {{ next_post.title }}
            </div>
            {% include "components/arrow.html.twig" with {
              color : "grey",
              direction: "right"
            } %}
          </a>
        </div>
      </div>
    </div>

    <div class="section block tablet:hidden">
      <div class="row justify-between">
        <div class="col w-full">
          <a class="flex items-center justify-between" href="{{ next_post.link }}">
            <div class="mr-4 text-xl text-grey">
              {{ next_post.title }}
            </div>
            {% include "components/arrow.html.twig" with {
              color : "grey",
              direction: "right"
            } %}
          </a>
        </div>
        <div class="col w-full mt-10">
          <a class="flex items-center justify-between" href="{{ site.link }}/portfolio">
            {% include "components/arrow.html.twig" with {
              direction : "left"
            } %}
            <div class="ml-4 text-xl text-red ">
              Back to overview
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}