<div class="footer-wrapper">
  <footer class="footer text-white bg-red">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col w-10/12 desktop-sm:w-6/12 desktop-sm:mr-1/12">
            <p class="footer-invite">
              {{ footer_widget.invitation|nl2br }}
            </p>
          </div>
          <div class="col relative w-2/12 desktop-sm:hidden">
            <div class="absolute pin-t pin-r" style="margin-right: 0.625rem">
              <button class="footer-close">
                {% include "components/arrow.html.twig" with {
                  direction : "down",
                  color: "white"
                } %}
              </button>
            </div>
          </div>
          <div class="col w-full mt-10 desktop-sm:mt-0 desktop-sm:w-5/12 text-lg relative">
            <div class="hidden desktop-sm:block absolute pin-t pin-r" style="margin-right: 0.625rem">
              <button class="footer-close">
                {% include "components/arrow.html.twig" with {
                  direction : "down",
                  color: "white"
                } %}
              </button>
            </div>
            <div class="flex">
              <div class="w-8">E</div>
              <a href="mailto:{{ footer_widget.meta('contact').email }}" class="text-white flex-grow underline">{{ footer_widget.meta('contact').email }}</a>
            </div>
            <div class="flex">
              <div class="w-8">T</div>
              <a href="tel:{{ footer_widget.meta('contact').phone }}" class="text-white flex-grow">{{ footer_widget.meta('contact').phone }}</a>
            </div>
            <div class="flex mt-4">
              <div class="w-8">A</div>
              <div class="flex-grow">
                {{ footer_widget.meta('contact').address|nl2br }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<div class="footer-fixed text-lg">
  <div class="container h-full flex items-center">
    <div class="flex w-full justify-between">
      <button class="footer-toggle dot-white">Contact us</button>
      <div class="h-6">
      <a target="_blank" href="{{ footer_widget.meta('social').twitter }}"><img class="h-full w-auto ml-4" src="{{ theme.link }}/images/icon-twitter.svg" alt=""></a> 
      <a target="_blank" href="{{ footer_widget.meta('social').facebook }}"><img class="h-full w-auto ml-4" src="{{ theme.link }}/images/icon-facebook.svg" alt=""></a> 
      <a target="_blank" href="{{ footer_widget.meta('social').linkedin }}"><img class="h-full w-auto ml-4" src="{{ theme.link }}/images/icon-linkedin.svg" alt=""></a> 
      </div>
    </div>
  </div>
</div>
