<div class="bg-grey-light">
  <div class="container">
    <div class="section">
  
      <div class="row catch-hover-wrapper">
        <div class="col w-full desktop-sm:w-7/12 flex flex-col justify-between">
          <div class="w-full desktop-sm:w-11/12 desktop-xl:w-9/12">
            <a class="catch-hover" href="{{ case.link }}">
              <div class="flex desktop-sm:hidden justify-between items-end mb-10">
                <div class="w-10/12">
                  <h1 class="title">{{ case.title }}</h1>
                  <p class="text-3xl text-grey indent">
                    {{ case.subtitle }}
                  </p>
                </div>
                {% include "components/cross.html.twig" with {
                  hover_saturate : true,
                  cross_color: "red",
                  cross_size: "sm"
                } %}
              </div>
              <div class="hidden desktop-sm:block">
                <h1 class="title">{{ case.title }}</h1>
                <p class="text-3xl text-grey indent mb-8">
                  {{ case.subtitle }}
                </p>
                {% include "components/cross.html.twig" with {
                  hover_saturate : true,
                  cross_color: "red",
                  cross_size: "lg"
                } %}
              </div>
            </a>
          </div>
          <div class="flex justify-between mb-5 desktop-sm:mb-0">
            <div class="caption">{{ case.meta('category') }}</div>
            <div class="caption">{{ case.meta('year') }}</div>
          </div>
        </div>
        <div class="col w-full desktop-sm:w-5/12 catch-hover">
          <a href="{{ case.link }}">
            <figure class="desaturate hover-saturate figure-p-lg bg-grey">
              <img{{ case.meta('splash_image')|get_timber_image_responsive('portrait-50vw') }}>
              <div class="absolute pin overflow-hidden flex justify-start">
                {% set dot_index = (case_index % 2) + 1 %}
                <img class="h-full" src="{{ theme.link }}/images/dot-pattern/gray-right-0{{ dot_index }}.png" alt="">
              </div>
            </figure>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
