<div class="bg-grey-light">
  <div class="container">
    <div class="section">

      {# <div class="row">
        <div class="col w-7/12 flex flex-col justify-between">
          <div class="w-full desktop-sm:w-11/12 desktop-xl:w-9/12">
            <a class="catch-hover" href="{{ site.link }}/case/mestic-bio-lab/">
              <h1 class="title">Mestic Bio Lab</h1>
              <p class="text-3xl text-grey indent mb-8">
                Lorem ipsum dolor sit amet, consectetur adipisicing elire.
              </p>
              <div class="flex desktop-sm:hidden justify-end">
                {% include "components/cross.html.twig" with {
                  hover_saturate : true,
                  cross_color: "red",
                  cross_size: "sm"
                } %}
              </div>
              <div class="hidden desktop-sm:block">
                {% include "components/cross.html.twig" with {
                  hover_saturate : true,
                  cross_color: "red",
                  cross_size: "lg"
                } %}
              </div>
            </a>
          </div>
          <div class="flex justify-between">
            <div class="caption">Fashion Innovation</div>
            <div class="caption">2019</div>
          </div>
        </div>
        <div class="col w-5/12">
          <a href="#">
            <figure class="figure-p-lg bg-grey">
              <img class="desaturate hover:saturate" src="{{ theme.link}}/images/placeholder/4a32a177c737d854d26b492646448b644776a4a7.jpg" alt="">
              <div class="absolute pin overflow-hidden flex justify-start">
                <img class="h-full w-auto" src="{{ theme.link }}/images/SNA_left_grey_dot_pattern_2.svg" alt="">
              </div>
            </figure>
          </a>
        </div>
      </div> #}
  
      <div class="row">
        <div class="col w-full desktop-sm:w-7/12 flex flex-col justify-between">
          <div class="w-full desktop-sm:w-11/12 desktop-xl:w-9/12">
            <a class="catch-hover" href="{{ site.link }}/case/mestic-bio-lab/">
              <div class="flex desktop-sm:hidden justify-between items-end mb-10">
                <div class="w-10/12">
                  <h1 class="title">Mestic Bio Lab</h1>
                  <p class="text-3xl text-grey indent">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elire.
                  </p>
                </div>
                {% include "components/cross.html.twig" with {
                  hover_saturate : true,
                  cross_color: "red",
                  cross_size: "sm"
                } %}
              </div>
              <div class="hidden desktop-sm:block">
                <h1 class="title">Mestic Bio Lab</h1>
                <p class="text-3xl text-grey indent mb-8">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elire.
                </p>
                {% include "components/cross.html.twig" with {
                  hover_saturate : true,
                  cross_color: "red",
                  cross_size: "lg"
                } %}
              </div>
            </a>
          </div>
          <div class="flex justify-between mb-5">
            <div class="caption">Fashion Innovation</div>
            <div class="caption">2019</div>
          </div>
        </div>
        <div class="col w-full desktop-sm:w-5/12">
          <a href="#">
            <figure class="figure-p-lg bg-grey">
              <img class="desaturate hover:saturate" src="{{ theme.link}}/images/placeholder/4a32a177c737d854d26b492646448b644776a4a7.jpg" alt="">
              <div class="absolute pin overflow-hidden flex justify-start">
                <img class="h-full w-auto" src="{{ theme.link }}/images/SNA_left_grey_dot_pattern_2.svg" alt="">
              </div>
            </figure>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
