<div class="bg-grey-light">
  <div class="container">
    <div class="section swiper-section hidden desktop-sm:block" data-effect="fade" style="padding-bottom: 20px">

      <div class="row items-stretch">
        <div class="col self-auto w-7/12 relative">
          <ul class="swiper-custom-pagination list-reset">

            {% for item in items %}

              <li class="pagination-item trigger-hover{% if loop.index == 1 %} active{% endif %}" data-swiper-target="{{ loop.index }}" data-label-left="{{ item.post.meta('category') }}" data-label-right="{{ item.post.meta('year') }}">
                <a href="{{ item.post.link }}">
                  <h1 class="text-2xl">{{ item.post.title }}
                    <span class="superscript">0{{ loop.index }}</span></h1>
                </a>
              </li>

            {% endfor %}

          </ul>
          <div class="absolute col w-full pin-l pin-b">
            <div class="swiper-label flex justify-between w-full">
              <div class="label-left text-black caption">{{ items[0].post.meta('category') }}</div>
              <div class="label-right text-black caption">{{ items[0].post.meta('year') }}</div>
            </div>
          </div>
        </div>
        <div class="col w-5/12">
          <div class="w-full">
            <div class="swiper-container">
              <div class="swiper-wrapper">

                {% for item in items %}

                  <div class="swiper-slide">
                    <figure class="figure-p-lg">
                      <img class="desaturate" {{ item.post.meta('splash_image')|get_timber_image_responsive('portrait-50vw') }}>
                      <div class="absolute pin overflow-hidden flex justify-start">
                        {% set dot_index = (loop.index0 % 2) + 1 %}
                        <img class="h-full w-auto" src="{{ theme.link }}/images/dot-pattern/gray-left-0{{ dot_index }}.png" alt="">
                      </div>
                    </figure>
                  </div>

                {% endfor %}

              </div>
            </div>
            {% if link %}
              <div class="mt-24 text-xl text-red flex justify-end items-center">
                <div class="mr-4">{{ link }}</div>{% include "components/cross.html.twig" %}</div>
            {% endif %}

          </div>

        </div>
      </div>
    </div>

    <div class="section block desktop-sm:hidden" style="padding-bottom: 10px">

      {% for item in items %}
        {# Case tease repeat #}
        <div class="row py-5 catch-hover-wrapper">
          <div class="col w-full flex flex-col justify-between {% if loop.index != 1 %}{% endif %}">
            <div class="w-full">
              <a class="catch-hover" href="{{ item.post.link }}">
                <div class="flex justify-between items-end mb-10">
                  <div class="w-10/12">
                    <h1 class="title">{{ item.post.title }}</h1>
                    <p class="text-3xl text-grey indent">
                      {{ item.post.subtitle }}
                    </p>
                  </div>
                  {% include "components/cross.html.twig" with {
                    hover_saturate : true,
                    cross_color: "red",
                    cross_size: "sm"
                  } %}
                </div>
              </a>
            </div>
            <div class="flex justify-between mb-5 desktop-sm:mb-0">
              <div class="caption">{{ item.post.meta('category') }}</div>
              <div class="caption">{{ item.post.year }}</div>
            </div>
          </div>
          <div class="col w-full catch-hover catch-hover">
            <a href="{{ item.post.link }}">
              <figure class="desaturate hover-saturate figure-p-lg bg-grey">
                <img class="" {{ item.post.meta('splash_image')|get_timber_image_responsive('portrait-50vw') }}>
                <div class="absolute pin overflow-hidden flex justify-start">
                  {% set dot_index = (loop.index0 % 2) + 1 %}
                  <img class="h-full w-auto" src="{{ theme.link }}/images/dot-pattern/gray-left-0{{ dot_index }}.png" alt="">
                </div>
              </figure>
            </a>
          </div>
        </div>
              <div class="dotted-line"></div>
      {% endfor %}
    </div>
    {#  #}

    <a href="{{ site.link }}/portfolio">
      <div class="pt-5 pb-10 text-xl text-red flex justify-end items-center">
        <div class="cross-wrapper flex justify-end items-center">
          <div class="mr-4">See all cases</div>{% include "components/cross.html.twig" %}
        </div>
      </div>
    </a>
  </div>
</div>
