<div class="container">
  <div class="section swiper-section hidden desktop-sm:block {{ section_class|join(' ') }}" data-effect="fade">

    <div class="row items-start">
      <div class="col w-7/12">
        <ul class="swiper-custom-pagination list-reset">
          <li class="pagination-item trigger-hover active" data-swiper-target="1">
            <h1>{{ page.meta('usp')[0].label }}
              <span class="superscript">01</span></h1>
          </li>
          <li class="pagination-item trigger-hover" data-swiper-target="2">
            <h1>{{ page.meta('usp')[1].label }}
              <span class="superscript">02</span></h1>
          </li>
          <li class="pagination-item trigger-hover" data-swiper-target="3">
            <h1>{{ page.meta('usp')[2].label }}
              <span class="superscript">03</span></h1>
          </li>
          <li class="pagination-item trigger-hover" data-swiper-target="4">
            <h1>{{ page.meta('usp')[3].label }}
              <span class="superscript">04</span></h1>
          </li>
        </ul>
      </div>
      <div class="col w-5/12">
        <div class="w-full">
          <div class="swiper-container">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <p class="mr-8">
                  <span class="highlight">{{ page.meta('usp')[0].highlighted_text }}</span>
                  {{ page.meta('usp')[0].remaining_text }}
                </p>
              </div>

              <div class="swiper-slide">
                <p class="mr-8">
                  <span class="highlight">{{ page.meta('usp')[1].highlighted_text }}</span>
                  {{ page.meta('usp')[1].remaining_text }}
                </p>
              </div>

              <div class="swiper-slide">
                <p class="mr-8">
                  <span class="highlight">{{ page.meta('usp')[2].highlighted_text }}</span>
                  {{ page.meta('usp')[2].remaining_text }}
                </p>
              </div>

              <div class="swiper-slide">
                <p class="mr-8">
                  <span class="highlight">{{ page.meta('usp')[3].highlighted_text }}</span>
                  {{ page.meta('usp')[3].remaining_text }}
                </p>
              </div>

            </div>
          </div>
          {% if link %}
              <a href="{{ link_url }}">
            <div class="mt-24 desktop-sm:mt-150px text-xl text-red flex justify-end items-center">
            <div class="cross-wrapper flex justify-end items-center">
                <div class="mr-4">{{ link }}</div>{% include "components/cross.html.twig" %}
            </div>
            </div>
              </a>
          {% endif %}

        </div>

      </div>
    </div>
  </div>

  <div class="section half-top mobile-bottom-0 expander-section block desktop-sm:hidden" data-effect="fade">

    <div class="row items-start">
      <div class="col w-full">
        <ul class="list-reset">
          <li class="pagination-item relative active">
            <div class="expander-title text-3xl items-center">
              <h1 class="w-8/12">{{ page.meta('usp')[0].label }}
                <span class="superscript">01</span></h1>
            </div>
            <div class="absolute pin-r pin-t mt-5" style="transform: rotate(90deg)">
              {% include "components/cross.html.twig" with {
                cross_size : "sm",
                hover_saturate: true
              } %}
            </div>
            <div class="expander-content mt-5">
              <p class="">
                <span class="highlight">{{ page.meta('usp')[0].highlighted_text }}</span>
                {{ page.meta('usp')[0].remaining_text }}
              </p>
            </div>
            <div class="dotted-line mb-5"></div>
          </li>
          <li class="pagination-item relative">
            <div class="expander-title text-3xl items-center">
              <h1 class="w-8/12">{{ page.meta('usp')[1].label }}
                <span class="superscript">02</span></h1>
            </div>
            <div class="absolute pin-r pin-t mt-5" style="transform: rotate(90deg)">
              {% include "components/cross.html.twig" with {
                cross_size : "sm",
                hover_saturate: true
              } %}
            </div>
            <div class="expander-content mt-5">
              <p class="">
                <span class="highlight">{{ page.meta('usp')[1].highlighted_text }}</span>
                {{ page.meta('usp')[1].remaining_text }}
              </p>
            </div>
            <div class="dotted-line mb-5"></div>
          </li>
          <li class="pagination-item relative">
            <div class="expander-title text-3xl items-center">
              <h1 class="w-8/12">{{ page.meta('usp')[2].label }}
                <span class="superscript">03</span></h1>
            </div>
            <div class="absolute pin-r pin-t mt-5" style="transform: rotate(90deg)">
              {% include "components/cross.html.twig" with {
                cross_size : "sm",
                hover_saturate: true
              } %}
            </div>
            <div class="expander-content mt-5">
              <p class="">
                <span class="highlight">{{ page.meta('usp')[2].highlighted_text }}</span>
                {{ page.meta('usp')[2].remaining_text }}
              </p>
            </div>
            <div class="dotted-line mb-5"></div>
          </li>
          <li class="pagination-item relative">
            <div class="expander-title text-3xl items-center">
              <h1 class="w-8/12">{{ page.meta('usp')[3].label }}
                <span class="superscript">04</span></h1>
            </div>
            <div class="absolute pin-r pin-t mt-5" style="transform: rotate(90deg)">
              {% include "components/cross.html.twig" with {
                cross_size : "sm",
                hover_saturate: true
              } %}
            </div>
            <div class="expander-content mt-5">
              <p class="">
                <span class="highlight">{{ page.meta('usp')[3].highlighted_text }}</span>
                {{ page.meta('usp')[3].remaining_text }}
              </p>
            </div>
            <div class="dotted-line" style="margin-bottom: 10px"></div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
