{# Landing template #}

{% extends "core/base.html.twig" %}

{% set body_class = ['scroll-color'] %}

{% block header %}
  <div class="fixed w-full h-32 z-40 hidden desktop-sm:block">
    <div class="container">
      <nav class="nav pt-10 pb-2">
        <div class="row justify-between items-end">
          <div class="col">
            <h2 class="">
              <a class="text-red" href="{{site.link}}">
                <span class="logo">Suna.</span>
              </a>
              <span class="scroll-out">
                {{ page.header_text }}
              </span>
            </h2>
          </div>
          <ul class="nav-items col flex list-reset text-lg text-red">
            <li class="nav-item hidden dot-red {% if is_about_active %}active{% endif %}">
              <a class="text-red" href="{{ site.link }}/about">About</a>
            </li>
            <li class="nav-item hidden dot-red {% if is_portfolio_active %}active{% endif %}">
              <a class="text-red" href="{{ site.link }}/portfolio">Portfolio</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="fixed w-full h-32 z-40 block desktop-sm:hidden">

      <div class="container container-nav-mobile">
        <nav class="nav nav-mobile relative pt-5 pb-2 border-b-2 border-red">
          <div class="row justify-between items-center">
            <div class="col">
              <h2 class="logo-mobile-correction">
                <a class="text-red" href="{{site.link}}">
                  <span class="logo">Suna.</span>
                </a>
              </h2>
            </div>
            <div class="col">
              {% include "components/burger.html.twig" %}
            </div>
          </div>
          <ul class="absolute pin-b pin-l flex nav-items list-reset text-xl">
            <li class="nav-item mobile dot-white {% if about_active %}active{% endif %}">
              <a class="text-white" href="{{ site.link }}/about">About</a>
            </li>
            <li class="nav-item mobile dot-white {% if portfolio_active %}active{% endif %}">
              <a class="text-white" href="{{ site.link }}/portfolio">Portfolio</a>
            </li>
          </ul>
        </nav>
      </div>

  </div>

{% endblock %}

{% block main %}

  {% include "layout/landing.html.twig" %}

  {% include "layout/swiper-text.html.twig" with {
    link: 'About us',
    link_url: site.link ~ '/about'
  } %}

  {% include "layout/portfolio.html.twig" with {
    items: page.meta('case_items')
  } %}

  {% include "layout/news-feed.html.twig" with {
    items: page.meta('news_items')
  } %}

{% endblock %}
